body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.grid-item {
    background-color: #dfdfdf;
    padding: 20px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.name-box {
    grid-column: span 2;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #333;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

a.linkedin-link {
    color: #0077b5; 
    text-decoration: none;
    font-weight: bold;
}

a.github-link {
    color: #6cc644; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }

    .profile-pic {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}