body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.grid-item {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item:not(.no-effect):hover {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.name-box {
    grid-column: span 2;
    background-color: #ffffff;
    color: #343a40;
    padding: 20px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: sticky;
    top: 0px;
}

h1, h2 {
    color: #343a40;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a.linkedin-link {
    color: #007bff; 
    text-decoration: none;
    font-weight: bold;
}

a.github-link {
    color: #28a745; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .name-box {
        grid-column: span 1;
    }

    .profile-pic {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}